<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    
    <title>blogs</title>
  </head>
  <body>
    {% include 'navbar.html' %}
    <div class="h"><h1>BLOGS</h1></div>

    <div class="">
      {% for x in blog_item %}
      <a href="{% url 'blogs' x.id %}">
        <div class="popular__card">
          <img src="{{x.img.url}}" alt="{{x.name}}" />
          <div class="popular__content">
            <div class="popular__card__header">
              <h4>{{x.blog_title}}</h4>
            </div>
            <p>{{x.blog_content|truncatewords:50}}</p>
          </div>
        </div>
      </a>
      {% endfor %}
    </div>

    {% include 'footer.html' %}
  </body>
</html> -->
