<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Us</title>
  </head>

  <body>  
    <h1>Contact</h1>

    <form method="post" action=".">
        {% csrf_token %}

        {{ form.name }}
        {{ form.email }}
        {{ form.content }}

       <button>submit</button>
    </form>
</body>
</html>  -->
<!DOCTYPE html>
<html data-wf-page="5ed56f21d8ff092c7c5b6a55" data-wf-site="5ed1cf34bf802c5f339f8167">

<head>
  <meta charset="utf-8" />
  <title>Contact</title>
</head>
{%include 'navbar.html'%}
  <div class="section contact">
    <div class="container contact_container">
      <div class="contact_left">
        <h6>Have questions?</h6>
        <h2>Send us a message.</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.
        </p>
      </div>
      <div class="form-block-2 w-form">
        <form id="wf-form-Contact-Form" name="wf-form-Contact-Form" data-name="Contact Form"  class="form-2"
          data-wf-page-id="5ed56f21d8ff092c7c5b6a55" data-wf-element-id="0e6215dc-3b13-6dd5-7102-da84d7e264e2" method="post" action=".">
          {% csrf_token %}
          <div class="_50_percent_field_contain">
             
              {{ form.name }}
            </div>
          <div class="_50_percent_field_contain">
            
              {{ form.email }}
            </div>
           
            {{ form.content }}
                 <button class="submit-button _2 w-button">submit</button>
        </form>
        <div class="success-message w-form-done">
          <div>Thank you! Your submission has been received!</div>
        </div>
        <div class="error-message w-form-fail">
          <div class="text-block">Oops! Something went wrong while submitting the form.</div>
        </div>
      </div>
    </div><img src="../../media//travel-20tell-20stencil-202.svg" width="400" alt="" class="contact-confetti" />
  </div>
  <div class="section footer_section">
    <div class="footer">
      <div class="container">
        <div class="footer_content_wrapper">
          <div class="logo_and_subscribe_wrap"><a data-w-id="822756f3-5bbb-c983-fef1-280c17673ddb" href="/"
              class="link-block-2 w-inline-block"><img src="../../media//traveltell_dark_logo.png" width="123" alt=""
                sizes="123px"
                srcset="../../media//traveltell_dark_logo-p-500.png 500w, ../../media//traveltell_dark_logo-p-800.png 800w, ../../media//traveltell_dark_logo.png 1034w"
                class="footer_logo" /></a>
            <div data-w-id="822756f3-5bbb-c983-fef1-280c17673ddd" class="footer_social_wrap"><a
                href="https://www.facebook.com/" target="_blank" class="social_media_link first w-inline-block"><img
                  src="../../media//faceb.png" width="25" alt="" sizes="(max-width: 767px) 25px, (max-width: 991px) 3vw, 25px"
                  srcset="../../media//faceb-p-500.png 500w, ../../media//faceb.png 766w" /></a><a href="https://twitter.com"
                target="_blank" class="social_media_link w-inline-block"><img src="../../media//twitter1.png" width="25"
                  alt="" sizes="(max-width: 767px) 25px, (max-width: 991px) 3vw, 25px"
                  srcset="../../media//twitter1-p-500.png 500w, ../../media//twitter1-p-800.png 800w, ../../media//twitter1.png 827w" /></a><a
                href="https://www.linkedin.com/" target="_blank" class="social_media_link w-inline-block"><img
                  src="../../media//5e1ed0b824ceb838fadfa9b7_linkedin-icon-png-transparent-background-5.png" width="25" alt=""
                  sizes="(max-width: 767px) 25px, (max-width: 991px) 3vw, 25px"
                  srcset="../../media//5e1ed0b824ceb838fadfa9b7_linkedin-icon-png-transparent-background-5-p-500.png 500w, ../../media//5e1ed0b824ceb838fadfa9b7_linkedin-icon-png-transparent-background-5.png 609w" /></a>
            </div>
          </div>
          <div class="footer_links_wrapper">
            <div data-w-id="822756f3-5bbb-c983-fef1-280c17673de5" class="footer_nav_column"><a href="/blog"
                class="footer_link">Blog</a><a href="/places" class="footer_link">Places</a><a href="/traveltellers"
                class="footer_link">TravelTellers</a><a href="/videos" class="footer_link">Videos</a></div>
            <div data-w-id="822756f3-5bbb-c983-fef1-280c17673dee" class="footer_nav_column"><a href="/shop"
                class="footer_link">Shop</a><a href="/contact" aria-current="page"
                class="footer_link w--current">Contact</a><a href="/private-policy" class="footer_link">Private
                Policy</a><a href="/terms" class="footer_link">Terms &amp; Conditions</a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="copyrights_contain">
      <div>
        <div data-w-id="822756f3-5bbb-c983-fef1-280c17673df7" class="copyrights">Crafted by <a
            href="https://www.marioncotemplates.com/" class="copyrights_link">Marion &amp; Co.</a>  |  Powered by <a
            href="http://webflow.com/" target="_blank" class="copyrights_link">Webflow</a>  |  <a
            href="https://webflow.com/templates/designers/marion-co" target="_blank"
            class="copyrights_link">More templates</a>  |  <a href="/image-licensing" class="copyrights_link">Image
            License</a>  |  <a href="/style-guide" class="copyrights_link">Style Guide</a></div>
      </div>
    </div>
    <div class="footer_svg_wrap"><img src="../../media//footer-20svg.svg" width="304" alt="" class="footer_svg" /></div>
  </div>
  {%load static%}
  <script src="{% static 'jquery.js' %}" ></script>
  <script src="{% static 'webflow-script.js' %}" ></script>
</body>

</html> 