<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Us</title>
  </head>
  <body>  <body>
    <h1>Contact</h1>

    <form method="post" action=".">
        {% csrf_token %}

        {{ form.as_p }}

        <button>Submit</button>
    </form>
</body></body>
</html> -->

{%  include 'navbar.html' %}
  <div class="section contact">
    <div class="container contact_container">
      <div class="contact_left">
        <h6>Have questions?</h6>
        <h2>Send us a message.</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.
        </p>
      </div>
      <div class="form-block-2 w-form">
        <form id="wf-form-Contact-Form" name="wf-form-Contact-Form" data-name="Contact Form" method="post" action="." class="form-2"
          data-wf-page-id="5ed56f21d8ff092c7c5b6a55" data-wf-element-id="0e6215dc-3b13-6dd5-7102-da84d7e264e2">
          <div class="_50_percent_field_contain">
            <input class="text-field _50_percent w-input" maxlength="256"
              name="First-Name-2" data-name="First Name 2" placeholder="First Name*"
              data-w-id="0e6215dc-3b13-6dd5-7102-da84d7e264e4" type="text" id="First-Name-2" required="" />
            
         
              <input
              class="text-field _50_percent w-input" maxlength="256" name="Last-Name-2" data-name="Last Name 2"
              placeholder="Nationality" data-w-id="0e6215dc-3b13-6dd5-7102-da84d7e264e5" type="text" id="Last-Name-2"
              required="" />
              <input
              class="text-field _50_percent w-input" maxlength="256" name="Last-Name-2" data-name="Last Name 2"
              placeholder="Number of adults" data-w-id="0e6215dc-3b13-6dd5-7102-da84d7e264e5" type="text" id="Last-Name-2"
              required="" /></div>
              <input
              class="text-field _50_percent w-input" maxlength="256" name="Last-Name-2" data-name="Last Name 2"
              placeholder="Number of children" data-w-id="0e6215dc-3b13-6dd5-7102-da84d7e264e5" type="text" id="Last-Name-2"
              required="" /></div>
            
            
            
            
            
            
            </div>
          <div class="_50_percent_field_contain"><input class="text-field _50_percent w-input" maxlength="256"
              name="Email-Address-2" data-name="Email Address 2" placeholder="Email Address*"
              data-w-id="0e6215dc-3b13-6dd5-7102-da84d7e264e7" type="email" id="Email-Address-2" required="" /><input
              class="text-field _50_percent w-input" maxlength="256" name="Phone-Number-2" data-name="Phone Number 2"
              placeholder="Phone Number" data-w-id="0e6215dc-3b13-6dd5-7102-da84d7e264e8" type="tel" id="Phone-Number-2"
              required="" /></div><textarea class="textarea w-input" maxlength="5000" name="Your-message-2"
            data-name="Your Message 2" placeholder="Your message..." data-w-id="0e6215dc-3b13-6dd5-7102-da84d7e264e9"
            id="Your-message-2"></textarea><input type="submit" data-wait="Please wait..."
            data-w-id="0e6215dc-3b13-6dd5-7102-da84d7e264ea" class="submit-button _2 w-button" value="Submit" />
            <!-- {% csrf_token %}

            {{ form.as_p }}
    
            <button class="submit-button _2 w-button" >Submit</button> -->
        </form>
        <div class="success-message w-form-done">
          <div>Thank you! Your submission has been received!</div>
        </div>
        <div class="error-message w-form-fail">
          <div class="text-block">Oops! Something went wrong while submitting the form.</div>
        </div>
      </div>
    
      {% include 'footer.html' %}
  {%load static%}
  <script src="{% static 'jquery.js' %}" ></script>
  <script src="{% static 'webflow-script.js' %}" ></script>
</body>

</html>