<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <!-- <link rel="stylesheet" href="{% static 'pack.css' %}" /> -->
    <title>Packages</title>
  </head>
  <body>
    {% include 'navbar.html' %}
    <div class="h"><h1>PACKAGES</h1></div>

    <div class="popular__grid">
      {% for x in packages %}
      <a href="{% url 'details' x.id %}">
        <div class="popular__card">
          <img src="{{x.img.url}}" alt="{{x.name}}" />
          <div class="popular__content">
            <div class="popular__card__header">
              <h4>{{x.name}}</h4>
              <h4>{{x.price}}</h4>
            </div>
            <p>{{x.description|truncatewords:30}}</p>
            <h4>from: {{x.dest_from}}</h4>
            <h4>from: {{x.dest_to}}</h4>
          
          </div>
        </div>
      </a>
      {% endfor %}
    </div>

    {% include 'footer.html' %}
  </body>
</html>
