<!DOCTYPE html>
<html data-wf-page="5ed5ec845680f34969f0170a" data-wf-site="5ed1cf34bf802c5f339f8167">

<head></head>
  {%include 'navbar.html'%}
<body>
   <div class="section light_grey">
    <div style="opacity:0" class="container">
      <div class="w-layout-grid _2_col_grid product_grid">
        {% comment %} <div class="product_media_contain">
          <div
            data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_main_image_4dr.url%22%2C%22to%22%3A%22style.background-image%22%7D%5D"
            style="background-image:url('{{pack_item.img.url}}')"
            class="product_image"></div>
        </div> {% endcomment %}
        <div class="product_description_contain">
          <h2>{{pack_item.name}}</h2>
          <div class="category_collection_list_wrapper w-dyn-list">
            
          </div>
          <p>{{pack_item.description}} </p>
          <p> 
            {% for d in day %}
            <div
            data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_main_image_4dr.url%22%2C%22to%22%3A%22style.background-image%22%7D%5D"
            style="background-image:url('{{pack_item.img.url}}')"
            class="product_image"></div>
             
                    <h3>Day {{ d.day_number }}: {{ d.title }}</h3>
                    <p>{{ d.description }}</p>
                
            {% endfor %}
            </ul>
          </p>
          <h2>Hotels</h2>
          <p> 
            {% for h in hotels %}
            
             
                    <h3>{{ h.city }}: {{ h.Name }}</h3>
                    <br>
                    <h5>Rating: {{h.star_rating}} Stars</h5>
                    <br>
                    <a target="_blank" class="footer_link" href="{{ h.website }}"> {{ h.website }}</a>
                
            {% endfor %}
            </ul>
          </p>



{% comment %}          
            <div data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_price_%22%2C%22to%22%3A%22innerHTML%22%7D%5D"
            class="price product_page_price">From: &nbsp; {{pack_item.dest_from}}</div>
            <div data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_price_%22%2C%22to%22%3A%22innerHTML%22%7D%5D"
            class="price product_page_price">From: &nbsp; {{pack_item.dest_to}}</div> {% endcomment %}
            <div data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_price_%22%2C%22to%22%3A%22innerHTML%22%7D%5D"
            class="price product_page_price"><h2>price:</h2>{{pack_item.price}}$  USD</div>




            
          <div class="add-to-cart">
            <!-- <form data-node-type="commerce-add-to-cart-form" data-commerce-sku-id="5ed5ee66179118d5fbee856c"
              data-loading-text="Adding to cart..." data-commerce-product-id="5ed5ee65ada9cb4f74f2862e"
              class="w-commerce-commerceaddtocartform default-state">
              <label
                for="quantity-61635d5254f5bf0633d98871ba33df89" class="field-label">Quantity</label>
                <input type="number"
                pattern="^[0-9]+$" inputMode="numeric" id="quantity-61635d5254f5bf0633d98871ba33df89"
                name="commerce-add-to-cart-quantity-input" min="1"
                class="w-commerce-commerceaddtocartquantityinput form_field" value="1" />
                <input type="submit"
                data-node-type="commerce-add-to-cart-button" data-loading-text="Adding to cart..." aria-busy="false"
                aria-haspopup="dialog" class="w-commerce-commerceaddtocartbutton button" value="Add to Cart" />
                <a
                data-node-type="commerce-buy-now-button" data-default-text="Buy now"
                data-subscription-text="Subscribe now" aria-busy="false" aria-haspopup="false"
                class="w-commerce-commercebuynowbutton button" href="/checkout">Buy now</a>
              </form> -->
               {% comment %} <label  class="field-label">Quantity</label>
                <select id="no_adults" class="w-commerce-commerceaddtocartquantityinput form_field"  >
        
                  <option  class="w-commerce-commerceaddtocartquantityinput form_field" value="1">1</option>
                  
              </select> 
           {% endcomment %}
                <button  type="button" value="{{pack_item.id}}" id="add_cart"    class="w-commerce-commercebuynowbutton button">Add To Cart</button>
            
          </div>
          
          
        </div>
        {% comment %} <ul>
          {% for d in day %}
              <li>
                  <h3>Day {{ d.day_number }}: {{ d.title }}</h3>
                  <p>{{ d.description }}</p>
              </li>
          {% endfor %}
          </ul> {% endcomment %}
        
      </div>
    </div>
    
  {% include 'footer.html' %}
  {%load static%}
  <script src="{% static 'jquery.js' %}" ></script>
  <script src="{% static 'webflow-script.js' %}" ></script>

  <script>

    $(document).on('click','#add_cart',function (e) {
      e.preventDefault();
      $.ajax({
    
          type:'POST',
          url:'{% url "add"  %}',
          data:{
    
            package_id:$('#add_cart').val(),
            package_amount:1,
            csrfmiddlewaretoken:'{{ csrf_token  }}',
            action:'post'
    
            
    
          },
          success:function (json) {
            console.log(json)
            document.getElementById("amount").textContent=json.amount
            
          },
          error:function (xhr,errmsg,err) {
            
          }
    
      });
    
    
    
    
    
    
    })
    
    
    </script>  
    
</body>

</html>