<!DOCTYPE html>
<html data-wf-page="5ed5701b1debd109c7e3594b" data-wf-site="5ed1cf34bf802c5f339f8167">


{%include 'navbar.html'%}
<body>
  <div class="section shop">
    <div style="opacity:0" class="container">
      
        <div class="shop-card">
          <h2>Travel Packages </h2>
          <div class="shop-collection-list-wrapper w-dyn-list">
            <div role="list" class="shop-collection-list w-dyn-items">
              {% for x in packages %}
            <div role="listitem" class="shop-collection-item w-dyn-item"><a href="{% url 'details' x.id %}"
                  class="shop_card_link w-inline-block">
                  <div class="category">
                    <div data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_price_%22%2C%22to%22%3A%22innerHTML%22%7D%5D">
                      $ {{x.price}} USD</div>
                  </div>
                  <h4 class="shop_card_h">{{x.name}}</h4>
                  <div
                    data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_main_image_4dr.url%22%2C%22to%22%3A%22style.background-image%22%7D%5D"
                    style="background-image:url('{{x.img.url}}')"
                    class="card_image_hover_expand"></div>
                </a></div>
                {% endfor %}
            </div>
          </div>
        </div>
      </div>
  </div>
  {% include 'footer.html' %}
  {%load static%}
  <script src="{% static 'jquery.js' %}" ></script>
  <script src="{% static 'webflow-script.js' %}" ></script>
</body>

</html>