<!DOCTYPE html>
<html data-wf-page="5ed56fc82b0a2a0d6bdb92d2" data-wf-site="5ed1cf34bf802c5f339f8167">

<head>

 
</head>

<body>
  {%include 'navbar.html'%}
    <div class="section traveltellers">
    <div style="opacity:0" class="container">
      <h2>About Us</h2>
      <p class="max_550">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros
        elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero
        vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique
        posuere.</p>
      
      <div class="w-dyn-list">
        <div role="list" class="traveltellers-collection-list w-dyn-items">
          <div role="listitem" class="traveltellers-collection-item w-dyn-item"><a href=""
              class="author_card w-inline-block">
              <div style="background-image:url(&quot;../../media//dane-deaner-ifdfxurjasi-unsplash.jpg&quot;)"
                class="author_circle_img"></div>
              <h5>Rachelle Mindy</h5>
              <p>New York, USA</p>
            </a></div>
          <div role="listitem" class="traveltellers-collection-item w-dyn-item"><a href=""
              class="author_card w-inline-block">
              <div style="background-image:url(&quot;../../media//ben-parker-ym-msbz0ro-unsplash.jpg&quot;)"
                class="author_circle_img"></div>
              <h5>Mason Miller</h5>
              <p>Amsterdam, Netherlands</p>
            </a></div>
          <div role="listitem" class="traveltellers-collection-item w-dyn-item"><a href=""
              class="author_card w-inline-block">
              <div style="background-image:url(&quot;../../media//atikh-bana-ycds6emp7ba-unsplash.jpg&quot;)"
                class="author_circle_img"></div>
              <h5>Natasha Miles</h5>
              <p>Paris, France</p>
            </a></div>
          <div role="listitem" class="traveltellers-collection-item w-dyn-item"><a href=""
              class="author_card w-inline-block">
              <div style="background-image:url(&quot;../../media//candice-picard-mp0iufwrn0a-unsplash.jpg&quot;)"
                class="author_circle_img"></div>
              <h5>Michelle Worthy</h5>
              <p>Melbourne, Australia</p>
            </a></div>
          <div role="listitem" class="traveltellers-collection-item w-dyn-item"><a href=""
              class="author_card w-inline-block">
              <div style="background-image:url(&quot;../../media//brooke-cagle-nm70urdtf3c-unsplash.jpg&quot;)"
                class="author_circle_img"></div>
              <h5>Jason Maddock</h5>
              <p>Chicago, USA</p>
            </a></div>
        </div>
      </div>
    </div><img src="../../media//travel-20tell-20stencil-202.svg" alt="" class="confetti_hero_svg traveltellers" />
  </div>
  {% include 'footer.html' %}
  {%load static%}
  <script src="{% static 'jquery.js' %}" ></script>
  <script src="{% static 'webflow-script.js' %}" ></script>
</body>

</html> 