<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Us</title>
  </head>

  <body>  
    <h1>Contact</h1>

    <form method="post" action=".">
        {% csrf_token %}

        {{ form.name }}
        {{ form.email }}
        {{ form.content }}

       <button>submit</button>
    </form>
</body>
</html>  -->
<!DOCTYPE html>
<html data-wf-page="5ed56f21d8ff092c7c5b6a55" data-wf-site="5ed1cf34bf802c5f339f8167">

<head>
  <meta charset="utf-8" />
  <title>Contact</title>
</head>
{%include 'navbar.html'%}
  <div class="section contact">
    <div class="container contact_container">
      <div class="contact_left">
        <h6>Have questions?</h6>
        <h2>Send us a message.</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.
        </p>
      </div>
      <div class="form-block-2 w-form">
        <form id="wf-form-Contact-Form" name="wf-form-Contact-Form" data-name="Contact Form"  class="form-2"
          data-wf-page-id="5ed56f21d8ff092c7c5b6a55" data-wf-element-id="0e6215dc-3b13-6dd5-7102-da84d7e264e2" method="post" action=".">
          {% csrf_token %}
          <div class="_50_percent_field_contain">
             
              {{ form.name }}
            </div>
          <div class="_50_percent_field_contain">
            
              {{ form.email }}
            </div>
           
            {{ form.content }}
                 <button class="submit-button _2 w-button">submit</button>
        </form>
        <div class="success-message w-form-done">
          <div>Thank you! Your submission has been received!</div>
        </div>
        <div class="error-message w-form-fail">
          <div class="text-block">Oops! Something went wrong while submitting the form.</div>
        </div>
      </div>
    </div><img src="../../media//travel-20tell-20stencil-202.svg" width="400" alt="" class="contact-confetti" />
  </div>
  {% include 'footer.html' %}
  {%load static%}
  <script src="{% static 'jquery.js' %}" ></script>
  <script src="{% static 'webflow-script.js' %}" ></script>
</body>

</html> 