<div style="position:fixed; bottom: 5% !important; left: 93% !important; z-index: 1;"><a href="https://wa.me/+201026957222?text=I'm%20interested%20in%20your%20Package%20for%20sale">
</div>

<div class="section footer_section">

  <div class="footer">
    <div class="container">
      <div class="footer_content_wrapper">
        <div class="logo_and_subscribe_wrap"><a data-w-id="822756f3-5bbb-c983-fef1-280c17673ddb" href="/"
            aria-current="page" class="link-block-2 w-inline-block w--current"><img
              src="../media/Logo Sizes-12.png" width="200" alt="" sizes="123px"
              srcset="media/Logo Sizes-12.png 500w, media/Logo Sizes-12.png 800w, media/Logo Sizes-12.png 1034w"
              class="footer_logo" /></a>
          <div data-w-id="822756f3-5bbb-c983-fef1-280c17673ddd" class="footer_social_wrap"><a
              href="https://www.facebook.com/" target="_blank" class="social_media_link first w-inline-block"><img
                src="../media/faceb-p-500.png" width="25" alt="" sizes="(max-width: 767px) 25px, (max-width: 991px) 3vw, 25px"
                srcset="../media/faceb-p-500.png 500w, ../media/faceb.png 766w" /></a><a href="https://twitter.com"
              target="_blank" class="social_media_link w-inline-block"><img src="../media/twitter1.png" width="25"
                alt="" sizes="(max-width: 767px) 25px, (max-width: 991px) 3vw, 25px"
                srcset="../media/twitter1-p-500.png 500w, ../media/twitter1-p-800.png 800w, ../media/twitter1.png 827w" /></a><a
              href="https://www.linkedin.com/" target="_blank" class="social_media_link w-inline-block"><img
                src="media/5e1ed0b824ceb838fadfa9b7_linkedin-icon-png-transparent-background-5.png" width="25" alt=""
                sizes="(max-width: 767px) 25px, (max-width: 991px) 3vw, 25px"
                srcset="../media/5e1ed0b824ceb838fadfa9b7_linkedin-icon-png-transparent-background-5-p-500.png 500w, ../media/5e1ed0b824ceb838fadfa9b7_linkedin-icon-png-transparent-background-5.png 609w" /></a>
          </div>
        </div>
        <div class="footer_links_wrapper">
          <div data-w-id="822756f3-5bbb-c983-fef1-280c17673de5" class="footer_nav_column"><a href="/blog"
              class="footer_link">Blog</a><a href="{% url 'costume'   %}" class="footer_link">Special Packages</a></div>
          <div data-w-id="822756f3-5bbb-c983-fef1-280c17673dee" class="footer_nav_column"><a href="{% url 'packs'   %}"
              class="footer_link">Packages</a><a href="/contact" class="footer_link">Contact</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyrights_contain">
    <div>
      
  </div>
  <div class="footer_svg_wrap"><img src="media/footer-20svg.svg" width="304" alt="" class="footer_svg" /></div>
</div>