<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Responsive Navbar</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      crossorigin="anonymous"
    />
    <link
      href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css"
      rel="stylesheet"
    />

    {% load static %}
    <link rel="stylesheet" href="{% static 'index.css' %}" />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://kit.fontawesome.com/ab069e8307.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <!-- -------------------navbar------------------------------------------------------------------- -->
    <div class="wrapper">
      <header class="header">
        <div class="ncontainer">
          <div class="row v-center">
            <div class="header-item item-left">
              <div class="logo">
                <a href="/"
                  ><img src="../media/Logo Sizes-11.png" width="200px"
                /></a>
              </div>
            </div>
            <!-- menu start here -->
            <div class="header-item item-center">
              <div class="menu-overlay"></div>
              <nav class="menu">
                <div class="mobile-menu-head">
                  <div class="go-back"><i class="fa fa-angle-left"></i></div>
                  <div class="current-menu-title"></div>
                  <div class="mobile-menu-close">&times;</div>
                </div>
                <ul class="menu-main">
                  <li>
                    <a href="/">Home</a>
                  </li>
                  <li class="menu-item-has-children">
                    <a href="#">About Us </a>
                  </li>
                  <li class="menu-item-has-children">
                    <a href="#">Our Service <i class="fa fa-angle-down"></i></a>
                    <div class="sub-menu mega-menu mega-menu-column-4">
                      <div class="list-item">
                        <ul>
                          <li>
                            <a href="#">Destination Egyptologist Guide</a>
                          </li>
                          <li><a href="#">Packages</a></li>
                          <li><a href="#">Nile Cruises</a></li>
                          <li><a href="#">Tours & Activities</a></li>
                          <li><a href="#">Transfers</a></li>
                        </ul>

                        <ul>
                          <li><a href="#">Airport Meet & Assets</a></li>
                          <li><a href="#">Air Flight Tickets </a></li>
                          <li><a href="#">Visa Services</a></li>
                        </ul>
                      </div>
                      <div class="list-item">
                        <ul>
                          <li><a href="#">Internal Transfers Services</a></li>
                          <li>
                            <a href="#">Meetings & assist in airports </a>
                          </li>
                          <li><a href="#">Hotel accommodation</a></li>
                          <li><a href="#">Therapeutic packages</a></li>
                        </ul>

                        <ul>
                          <li><a href="#">Unique programs</a></li>
                          <li><a href="#">Event Management</a></li>
                          <li><a href="#">Luxury executive travel</a></li>
                          <li><a href="#">Honey packages</a></li>
                        </ul>
                      </div>
                      <div class="list-item">
                        <ul>
                          <li><a href="#">Religious Tourism</a></li>
                          <li><a href="#">Cultural trips</a></li>
                          <li><a href="#">Excursions</a></li>
                          <li>
                            <a href="#"
                              >Combined trips ( 2 destinations or more )</a
                            >
                          </li>
                          <li>
                            <a href="#"
                              >Variety excursions and unique programs</a
                            >
                          </li>
                          <li>
                            <a href="#"
                              >Repairing sites for shooting movies scenes</a
                            >
                          </li>
                        </ul>
                      </div>
                    </div>
                  </li>
                  <li class="menu-item-has-children">
                    <a href="#"
                      >Destinations <i class="fa fa-angle-down"></i
                    ></a>
                    <div class="sub-menu single-column-menu">
                      <ul>
                        <li><a href="#">Cairo</a></li>
                        <li><a href="#">Hurghada</a></li>
                        <li><a href="#">Marsa Alam</a></li>
                        <li><a href="#">Sharm el Sheikh</a></li>
                        <li><a href="#">Luxor</a></li>
                        <li><a href="#">Aswan</a></li>
                      </ul>
                    </div>
                  </li>
                  <li class="menu-item-has-children">
                    <a href="#"> Blog</a>
                  </li>
                  <li>
                    <a href="#">Contact Us</a>
                  </li>
                </ul>
              </nav>
            </div>
            <!-- menu end here -->
            <div class="header-item item-right">
              <!-- <a href="#"><i class="fas fa-search"></i></a>
              <a href="#"><i class="far fa-heart"></i></a>
              <a href="#"><i class="fas fa-shopping-cart"></i></a>
              mobile menu trigger -->
              <div class="mobile-menu-trigger">
                <span></span>
              </div>
            </div>
          </div>
        </div>
      </header>
      <!-- -------------------navbar------------------------------------------------------------------- -->

      <!-- Carousel start here -->
      <div class="carouselHolder">
        <div
          id="carouselExampleAutoplaying"
          class="carousel slide"
          data-bs-ride="carousel"
        >
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="{{pack_item.img.url}}" class="d-block w-100"  alt="..." />
              <div class="carousel-caption d-none d-md-block">
                <h5>{{pack_item.name}}</h5>
                <p>
                  {{pack_item.description}}
                </p>
              </div>
            </div>
           
            
          </div>
          {% comment %} <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="prev"
          > {% endcomment %}
            {% comment %} <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button> {% endcomment %}
          {% comment %} <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="next"
          > {% endcomment %}
            {% comment %} <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button> {% endcomment %}
        </div>
      </div>

      <!-- Carousel end here -->
    </div>

    <main>
      <aside>
        <div class="widget">
          <div class="content">
            <input type="radio" name="indicator" id="Itinerary" />
            <input type="radio" name="indicator" id="Hotels" />
            <input type="radio" name="indicator" id="Included" />
            <input type="radio" name="indicator" id="Excluded" />
            <input type="radio" name="indicator" id="Tour_map" />
            <input type="radio" name="indicator" id="Tour_Gallery" />
            <input type="radio" name="indicator" id="Trip_videos" />
            <input type="radio" name="indicator" id="Before_you_go" />
            <input type="radio" name="indicator" id="Book_your_trip" />

            <div class="list">
              <div class="main-title">Tour Details</div>
              <label for="Itinerary" class="Itinerary">
                <a class="it" href="#Itinerary1" class="Itinerary">
                  Itinerary</a
                >
              </label>
              <label for="Hotels" class="Hotels">
                <a class="it" href="#Hotels1"
                  ><span class="topic">Hotels</span></a
                >
              </label>
              <label for="Included" class="Included">
                <a class="it" href="#Included1">
                  <span class="topic">Included</span></a
                >
              </label>
              <label for="Excluded" class="Excluded">
                <a class="it" href="#Excluded1">
                  <span class="topic">Excluded</span></a
                >
              </label>
              {% comment %} <label for="Tour_map" class="Tour_map">
                <a class="it" href="#Tour_map1">
                  <span class="topic">Tourmap </span>
                </a>
              </label> {% endcomment %}
              <label for="Tour_Gallery" class="Tour_Gallery">
                <a class="it" href="#Tour_Gallery1">
                  <span class="topic">TourGallery</span>
                </a>
              </label>
              {% comment %} <label for="Trip_videos" class="Trip_videos">
                <a class="it" href="#Trip_videos1">
                  <span class="topic">Tripvideos</span>
                </a>
              </label> {% endcomment %}
              <label for="Before_you_go" class="Before_you_go">
                <a class="it" href="#Beforeyougo1">
                  <span class="topic">Beforeyougo</span>
                </a>
              </label>
              <label for="Book_your_trip" class="Book_your_trip">
                <a class="it" href="#Book_your_trip1">
                  <span class="topic">Bookyourtrip</span>
                </a>
              </label>
              <div class="indicator"></div>
            </div>
          </div>
        </div>
      </aside>
      <article>
        <div class="page_titles">
          <span>Tour Details</span>
        </div>
        <div class="details">
          <h6>Duration: {{len}} Days</h6>
          <h6>Tour Location: {{pack_item.dest_to}}</h6>
          {% comment %} <h6>Tour Availability:</h6>
          <h6>Pickup & Drop off:</h6> {% endcomment %}
          <h6>Tour type: Family OverLand</h6>
        </div>
        <div class="daysContent">
          <div class="page_titles">
            <span id="Itinerary1">Itinerary</span>
          </div>
          {% for d in day %}
          <div class="days">
            <span>Day{{ d.day_number }}: {{ d.title }}</span>
          </div>

          <div class="d-flex" style="height: auto">
            <div class="vr" style="margin-left: 1rem"></div>
            <p>{{ d.description }}</p>
          </div>
        </div>
        {% endfor %}

        <div class="page_titles">
          <span id="Hotels1">Hotels</span>
        </div>
        {% for h in hotels %}

        <div class="hotelContent">
          <div class="cities">
            <span>{{ h.city }}</span>
          </div>

          <div class="hotels">
            <div class="titles">
              <h6 style="font-weight: 700">{{ h.name }}</h6>
              <div class="ratings">
                <i class="fa fa-star rating-color"></i>
                <i class="fa fa-star rating-color"></i>
                <i class="fa fa-star rating-color"></i>
                <i class="fa fa-star rating-color"></i>
                <i class="fa fa-star rating-color"></i>
              </div>
            </div>

            <img style="height: 300px" src="{{h.img.url}}" />
          </div>
        </div>
        {% endfor %}

        <div class="page_titles">
          <span id="Included1">Included</span>
        </div>

        <div class="includes">
          {% for line in pack_item.overview_lines %}
          <ul>
            <li>{{ line }}</li>
          </ul>
          {% endfor %}
        </div>

        <div class="page_titles">
          <span id="Excluded1">Excluded</span>
        </div>

        <div class="excludes">
          <ul>
            {% for line in pack_item.overview_lines1 %}
            <li>{{ line }}</li>
            {% endfor %}
          </ul>
        </div>

        <!-------- Gallery ------------>
        <div class="page_titles">
          <span id="Tour_Gallery1">Tour Gallery</span>
        </div>
        <div class="images">
          <div class="row">
            <div class="column">
              {% for m in images %}
              <img src="{{m.image.url}}" style="width: 100%; height: 200px" />
              {% endfor %}
            </div>
            <div class="column">
              {% for m in images1 %}
              <img src="{{m.image.url}}" style="width: 100% height:200px" />
              {% endfor %}
            </div>
            <div class="column">
              {% for m in images2 %}
              <img src="{{m.image.url}}" style="width: 100% height:200px" />
              {% endfor %}
            </div>
          </div>
        </div>

        {% comment %} <div class="page_titles">
          <span id="Trip_videos1">Trip videos</span>
        </div>
        <div class="container">
          <div class="video-container">
            <div class="video"><video src="website.mp4" muted></video></div>
            <div class="video"><video src="website.mp4" muted></video></div>
            <div class="video"><video src="website.mp4" muted></video></div>
            <div class="video"><video src="website.mp4" muted></video></div>
            <div class="video"><video src="website.mp4" muted></video></div>
            <div class="video"><video src="website.mp4" muted></video></div>
          </div>
        </div> {% endcomment %}

        <div class="page_titles">
          <span id="Beforeyougo1">Read before you go</span>
        </div>
        <div class="card-container">
          {% for x in pack %}
          <div class="card">
            <img src="{{x.img.url}}" alt="" />
            <div class="card-contnent">
              <h5>{{x.name}}</h5>
              <h6>{{x.dest_to}}, Egypt</h6>
              <a href="{%  url 'details' x.id   %} " class="btn"> Read More</a>
            </div>
          </div>
          {%endfor%}
        </div>
        <div
          class="Whatsapp"
          style="
           
          "
        >
          
            <a href="https://wa.me/+201026957222?text=I'm%20interested%20in%20your%20Package%20for%20sale"
             style="color: white;" ><i
                class="fa fa-whatsapp"
                style="color: white; padding-right: 0.1rem;"
              ></i>
              Whatsapp
            </a>
          
        </div>
      </article>
    </main>
    <div class="bookconatiner">
      <div class="booking">
        <section class="container">
          <header id="Book_your_trip1">Book your trip</header>
          <form  method="post" action="." class="form">
            {% csrf_token %}
            <div class="input-box">
              <label>Full Name</label>
              {{form.name}}
            </div>
            <div class="input-box">
              <label>Email Address</label>
              {{form.email}}
            </div>
            <div class="column">
              <div class="input-box">
                <label>Phone Number</label>
                {{form.Phone}}
              </div>
              <div class="input-box">
                <label>Nationality</label>
                {{form.nationality}}
              </div>
            </div>
            <div class="gender-box">
              <div class="gender-option">
                <div class="gender">
                  <div class="input-box">
                    <label>CheckIn</label>
                    {{form.check_in}}
                  </div>
                </div>
                <div class="gender">
                  <div class="input-box">
                    <label>CheckOut</label>
                    {{form.check_out}}
                  </div>
                </div>
              </div>
            </div>
            <div class="input-box address">
              <label>Select Room</label>
            </div>
            <div class="column">
              <div class="select-box">
                {{form.room_type}}
              </div>

              <div class="gender-box">
                <div class="gender-option">
                  <div class="gender">
                    <div class="input-box address">
                      <label>Adults (+12 years)</label>
                    </div>
                    <div class="select-box">
                     {{form.number_of_adults}}
                    </div>
                  </div>
                  
                  <div class="gender">
                    <div class="input-box address">
                      <label>Children (3-11 years)</label>
                    </div>
                    <div class="select-box">
                      {{form.number_of_children}}
                      
                    </div>
                  </div>
                  
                  <div class="gender">
                    <div class="input-box address">
                      <label>Infants (0-2 years)</label>
                    </div>
                    <div class="select-box">
                      
                      {{form.number_of_infants}}
                    </div>
                  </div>
                </div>
              </div>
              <div class="input-box address">
                <label>Price</label>
              </div>
              <div class="price">
                <span><h6>Starts from</h6></span>
                <div
                  class="vr"
                  style="color: #ddd; height: 2rem; margin-top: 5px; width: 3px"
                ></div>
                <span><h3>{{pack_item.price}}</h3></span>
                <div
                  class="vr"
                  style="color: #ddd; height: 2rem; margin-top: 5px; width: 3px"
                ></div>
                <span><h6>EGP</h6></span>
              </div>
            </div>
            <button type="submit">Book</button>
          </form>
        </section>

        <div class="form-img">
          <img src="../media/m_1.png" alt="" />
        </div>
      </div>
    </div>
  </body>
  <div class="seprator">
    <footer class="footer-distributed">
      <div class="footer-right">
        <p class="footer-company-about">
          <span>Contact Us</span>
        </p>
        <div style="display: flex">
          <i class="fa fa-map-marker" style="color: #ffffff"></i>
          <p style="color: #ffffff; font-size: small; font-weight: 200">
            Shams Business Center, Sharjah Media City Free Zone, Al Messaned,
            Sharjah, UAE
          </p>
        </div>

        <div style="display: flex">
          <i class="fa fa-phone" style="color: #ffffff"></i>
          <p style="color: #ffffff; font-size: small; font-weight: 200">
            (+123) 456 7890 / (+123) 456 7890
          </p>
        </div>
        <div style="display: flex">
          <i class="fa fa-envelope" style="color: #ffffff"></i>
          <p style="color: #ffffff; font-size: small; font-weight: 200">
            <a href="mailto:sagar00001.co@gmail.com" style="color: #ffffff"
              >Support@domain.com
            </a>
          </p>
        </div>

        <div class="footer-icons">
          <a href="#"><i class="fa fa-tripadvisor"></i></a>
          <a href="#"><i class="fa fa-instagram"></i></a>
          <a href="#"><i class="fa fa-youtube"></i></a>
          <a href="#"><i class="fa fa-facebook"></i></a>

          <a href="#"><i class="fa fa-twitter"></i></a>
        </div>
      </div>

      <div class="footer-center"></div>

      <div class="footer-right">
        <p class="footer-company-about">
          <span>Support</span>
        </p>

        <div class="policy" style="padding-left: 1rem">
          <ul>
            <li style="padding-top: 1rem">
              <a
                href="#"
                style="color: #ffffff; font-size: small; font-weight: 200"
                >Contact</a
              >
            </li>
            <li style="padding-top: 1rem">
              <a
                href="#"
                style="color: #ffffff; font-size: small; font-weight: 200"
                >Legal Notice</a
              >
            </li>
            <li style="padding-top: 1rem">
              <a
                href="#"
                style="color: #ffffff; font-size: small; font-weight: 200"
                >Privacy Policy</a
              >
            </li>
            <li style="padding-top: 1rem">
              <a
                href="#"
                style="color: #ffffff; font-size: small; font-weight: 200"
                >Terms and Conditions</a
              >
            </li>
            <li style="padding-top: 1rem">
              <a
                href="#"
                style="color: #ffffff; font-size: small; font-weight: 200"
                >Sitemap</a
              >
            </li>
          </ul>
        </div>
      </div>
    </footer>
  </div>

  <script>
    var video = document.querySelectorAll("video");
    video.forEach((play) =>
      play.addEventListener("click", () => {
        play.classList.toggle("active");
        if (play.paused) {
          play.play();
        } else {
          play.pause();
          play.currentTime = 0;
        }
      })
    );
  </script>
  <script src="{% static 'script.js' %}"></script>
  <script src="{% static 'navbar.js' %}"></script>
</html>
