
{% include 'navbar.html' %}
<body>
  
  <title> Omania</title>

  <div class="section hero">
    <div class="hero_slider_contain">
      <div data-delay="6000" data-animation="fade" class="hero_slider w-slider" data-autoplay="true" data-easing="ease"
        data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3"
        data-duration="800" data-infinite="true">
        <div class="w-slider-mask">
          <div data-w-id="d6d66d08-e21b-2d0f-ad10-141922c11985" class="slide w-slide">
            <div class="collection-list-wrapper-contry-slider w-dyn-list">
              <div role="list" class="collection-list-country-slider w-dyn-items">
                <div role="listitem" class="collection-item-country-slider w-dyn-item">
                  <div class="country_slider_content_wrap"><a href="#"
                       class="video_play_link w-inline-block w-lightbox"><img src="media/play.svg" width="16" alt="" />
                
                    </a>
                    <h3 class="white_h3">Picture 1</h3>
                    <p class="white_p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim
                      in eros elementum tristique.</p>
                    <div class="_50px-div-block"></div><a href="{% url 'packs'  %}"
                      class="link-block white w-inline-block">
                      <div>read more</div>
                      <div class="link_block_arrow_wrap white"><img src="media/arrow.svg" width="5" alt="" /></div>
                    </a>
                  </div>
                  <div data-w-id="1679749b-e45b-9f8d-fc4a-0948d4b16ee9"
                    style="background-image:url(&quot;../media/david-gavi-adij9s-kbrc-unsplash.jpg&quot;);-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                    class="conutry_slider_image"></div>
                </div>
              </div>
            </div>
          </div>
          <div data-w-id="d6d66d08-e21b-2d0f-ad10-141922c11986" class="w-slide">
            <div class="collection-list-wrapper-contry-slider w-dyn-list">
              <div role="list" class="collection-list-country-slider w-dyn-items">
                <div role="listitem" class="collection-item-country-slider w-dyn-item">
                  <div class="country_slider_content_wrap"><a href="#"
                      class="video_play_link w-inline-block w-lightbox"><img src="media/play.svg" width="16" alt="" />
                      
                    </a>
                    <h3 class="white_h3">Picture2</h3>
                    <p class="white_p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius.</p>
                    <div class="_50px-div-block"></div><a href="/places/egypt" class="link-block white w-inline-block">
                      <div>read more</div>
                      <div class="link_block_arrow_wrap"><img src="media/arrow.svg" width="5" alt="" /></div>
                    </a>
                  </div>
                  <div
                    style="background-image:url(&quot;media/david-gavi-adij9s-kbrc-unsplash.jpg&quot;);-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                    class="conutry_slider_image"></div>
                </div>
              </div>
            </div>
          </div>
          <div data-w-id="c638f565-8dc9-7052-22fc-9fca320cdffa" class="w-slide">
            <div class="collection-list-wrapper-contry-slider w-dyn-list">
              <div role="list" class="collection-list-country-slider w-dyn-items">
                <div role="listitem" class="collection-item-country-slider w-dyn-item">
                  <div class="country_slider_content_wrap"><a href="#"
                      class="video_play_link w-inline-block w-lightbox"><img src="media/play.svg" width="16" alt="" />

                    </a>
                    <h3 class="white_h3">Picture3</h3>
                    <p class="white_p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim
                      in eros elementum tristique. Elementum tristique.</p>
                    <div class="_50px-div-block"></div><a href="/places/sydney-australia"
                      class="link-block white w-inline-block">
                      <div>read more</div>
                      <div class="link_block_arrow_wrap"><img src="media/arrow.svg" width="5" alt="" /></div>
                    </a>
                  </div>
                  <div
                    style="background-image:url(&quot;media/paul-carmona-5uhgm0q3n4y-unsplash.jpg&quot;);-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                    class="conutry_slider_image"></div>
                </div>
              </div>
            </div>
          </div>
          <div data-w-id="70c13702-7615-ab3c-b710-9f091eb91346" class="w-slide">
            <div class="collection-list-wrapper-contry-slider w-dyn-list">
              <div role="list" class="collection-list-country-slider w-dyn-items">
                <div style="background-image:url(&quot;media/steven-lasry-8odmdg19poy-unsplash.jpg&quot;)"
                  role="listitem" class="collection-item-country-slider w-dyn-item">
                  <div class="country_slider_content_wrap"><a href="#"
                      class="video_play_link w-inline-block w-lightbox"><img src="media/play.svg" width="16" alt="" />
 
                    </a>
                    <h3 class="white_h3">Picture4</h3>
                    <p class="white_p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius.</p>
                    <div class="_50px-div-block"></div><a href="/places/india" class="link-block white w-inline-block">
                      <div>read more</div>
                      <div class="link_block_arrow_wrap"><img src="media/arrow.svg" width="5" alt="" /></div>
                    </a>
                  </div>
                  <div
                    style="background-image:url(&quot;media/steven-lasry-8odmdg19poy-unsplash.jpg&quot;);-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                    class="conutry_slider_image"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="left-arrow w-slider-arrow-left">
          <div class="w-icon-slider-left"></div>
        </div>
        <div class="right-arrow w-slider-arrow-right">
          <div class="w-icon-slider-right"></div>
        </div>
        <div class="slide-nav w-slider-nav w-round"></div>
      </div>
    </div>
    <div class="hero_content_right" >
      <h1 data-w-id="c0b24185-dac0-57b4-8d4d-5298887ccbd1" style="opacity:0" class="max_500">A community of travellers
        and story tellers</h1>
      <!-- <form action="/search" data-w-id="3ce17dd5-b26c-6647-fd00-bd8c01a229c3" style="opacity:0" class="search w-form">
        <input class="search-input w-input" maxlength="256" name="query" placeholder="Search…" type="search" id="search"
          required="" /><input type="submit" class="search-button w-button" value="⌕" /></form> -->
           <form  method=POST  action="{% url 'search' %}" data-w-id="3ce17dd5-b26c-6647-fd00-bd8c01a229c3" class="search w-form">
          {% csrf_token %}
          <input type="search" placeholder="search" maxlength="256" aria-label="search"   class="search-input w-input" name="searching">
          <!-- <button type="submit" class="search-button w-button">search</button> -->
          <input type="submit" class="search-button w-button" value="⌕" />
        </form>
      <h5 data-w-id="a21895dd-411f-e4e4-4cae-4e4579e0883d" style="opacity:0;margin-top: -1rem;">Featured Posts</h5>
      <div data-w-id="65dfc437-3aff-146b-7404-d7993df99770"
        style="-webkit-transform:translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0 "
        class="feature_posts_contain">
        <div class="feature_posts_wrapper" style="margin-top: -3rem;">
          <div class="w-dyn-list" >
            <div role="list" class="collection-list w-dyn-items">
              
              <!-------list item-------------------------------->
              {% for x in pack %}
              <div role="listitem" class="collection-item w-dyn-item">
                
                <div class="blog_cards_content">
                  <div class="top_content">
                
                  </div>
                  <h5 class="card_title">{{x.name}}</h5><a
                    style="background-image:url('{{x.img.url}}')"
                    href="{%  url 'details' x.id   %}" class="card_image_hover_expand w-inline-block"></a>
                </div>
              </div>
                  {% endfor %}
              
        
             
            </div>
          </div>
        </div>
      </div>
      <div data-w-id="098da5c8-e758-47ae-168e-6b698de0cc47" style="opacity:0" class="confetti_contain"><img
          src="media/blue-20arrow.svg" data-w-id="a7cff586-59c8-b9f8-6957-d99b24252e05" alt="" class="image-7" /><img
          src="media/yellow-20arrow.svg" data-w-id="fbbe3bb3-39bf-e31e-002c-35eee668f6f6" alt=""
          class="confetti_2" /><img src="media/pink-20arrow-20down.svg"
          data-w-id="733e6ebc-4299-c5f6-8736-853dbb605ce1" alt="" class="confetti_3" /><img
          src="media/purple-20long.svg" data-w-id="eaa32421-c175-a8d7-ab09-f4d7b391194c" alt=""
          class="confetti_4" /><img src="media/blue-20long.svg" data-w-id="afc9a33d-b92b-2f44-ccce-278a4c1e1a69" alt=""
          class="confetti_5" /><img src="media/blue-20circle.svg" width="11"
          data-w-id="88032074-eb00-ad7d-5434-ad93991f73e4" alt="" class="confetti_6" /><img src="media/teal-20long.svg"
          data-w-id="cf3cbd97-4f89-7190-030f-f6d1f3fcf31c" alt="" class="confetti_7" /><img
          src="media/pink-20arrow-20up.svg" data-w-id="92e85721-d4ac-0667-87c4-cbec73ae22e5" alt=""
          class="confetti_17" /><img src="media/pink-20arrow-20up.svg" data-w-id="e941a6a9-ec0e-d5bf-ed16-33d1363fbc4c"
          alt="" class="confetti_8" /><img src="media/teal-20arrow.svg"
          data-w-id="9f8ae5e5-9408-eda9-155f-fb25cd09c201" alt="" class="confetti_9" /><img
          src="media/blue-20circle.svg" data-w-id="2fab8808-f26c-4ced-87a7-53170e9f5d27" alt=""
          class="confetti_10" /><img src="media/yellow-20long.svg" data-w-id="75616927-e50b-58f2-15f0-991e3dc854c9"
          alt="" class="confetti_16" /><img src="media/yellow-20long.svg"
          data-w-id="f3b38cee-899e-cec2-7edf-9fc00541e5e0" alt="" class="confetti_11" /><img
          src="media/blue-20circle.svg" width="11" data-w-id="294dba0f-0e22-6c30-0b4a-b59edf4143c9" alt=""
          class="confetti_12" /><img src="media/purple-20arrow-20down.svg"
          data-w-id="5fda1dc3-893a-dfe0-6550-0e276b480324" alt="" class="confetti_13" /><img
          src="media/blue-20circle.svg" width="6" data-w-id="64d2550f-52ea-94a7-ce30-c900cc08947f" alt=""
          class="confetti_14" /><img src="media/blue-20circle.svg" width="10"
          data-w-id="d8e14f27-3b19-4f24-3bb2-c7a7e4c72a3a" alt="" class="confetti_15" /></div>
    </div>
  </div>
  <!----------------------------------------hero 1 ------------------------------------------------------------------->
  <div class="section light_grey">
    <div class="conatiner"></div>
    <div class="container">
      <h2 data-w-id="1b062139-faad-fee2-c02a-b49d1260ff8f">Packages</h2>
      <div class="flex">
        <div data-duration-in="300" data-duration-out="100" data-current="Tab 2" data-easing="ease" class="tabs w-tabs">
          <div data-w-id="63335641-77b7-2165-c2c2-35dd0df72ec7" class="story-feed-tab-menu w-tab-menu">
            <a data-w-tab="Tab 2" class="tab-link w-inline-block w-tab-link w--current">
              <div>Recent</div>
            </a></div>
          <div class="tabs-content w-tab-content">
            
            <div data-w-tab="Tab 2" class="w-tab-pane w--tab-active">
              <div class="w-layout-grid grid">
                <div class="blog-collection-list-wrapper w-dyn-list">
                  <div role="list" class="w-dyn-items">
                    {% for x in pack %}
                    <div role="listitem" class="w-dyn-item"><a data-w-id="c37d1e11-495d-e825-2cec-4af2927ec093"
                        href="{%  url 'details' x.id   %}" class="story_wrap w-inline-block">
                        <div class="story_image">
                          
                          <div style="background-image:url('{{x.img.url}}')"
                            class="card_image_hover_expand"></div>
                        </div>
                        <div class="story_content">
                          <h4>{{x.name}}</h4>
                          <p>{{x.description|truncatewords:30}}</p>
                          <div class="travelteller_wrap">
                            
                           
                          </div>
                        </div>
                      </a></div>
                      {% endfor %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
       <!----------------------------------------hero 2 ------------------------------------------------------------------->

      </div>
      <div class="view_all_link">
        <div class="line"></div><a data-w-id="7bac7109-c948-537b-e0f4-d6da12386726" href="{% url 'packs'   %}"
          class="link-block w-inline-block">
          <div>View all</div>
          <div style="background-color:rgba(35,34,34,0.2)" class="link_block_arrow_wrap"><img src="media/arrow.svg"
              width="5" alt="" /></div>
        </a>
      </div>
    </div>
  </div>
    <!----------------------------------------hero 2 ------------------------------------------------------------------->
  <div class="section full_width">
    <div class="full_width_image-wrap">
      <div class="container signup_form">
        <div class="newsletter_h_contain">
          <h2 >Sign up for our newsletter</h2>
          <p >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius
            enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut
            commodo.</p>
        </div>
        <div class="form-block w-form">
          <form id="email-form" name="email-form" data-name="Email Form" method="get" class="form"
            data-wf-page-id="5ed1cf34bf802c19af9f8168" data-wf-element-id="2cde5ff8-69c8-9c4b-e20e-87beef6406b0"><input
              class="text-field w-input" maxlength="256" name="First-Name" data-name="First Name"
              placeholder="First Name*" type="text" id="First-Name" required="" /><input class="text-field w-input"
              maxlength="256" name="Last-Name" data-name="Last Name" placeholder="Last Name*" type="text" id="Last-Name"
              required="" /><input class="text-field w-input" maxlength="256" name="Email-Address"
              data-name="Email Address" placeholder="Email Address*" type="email" id="Email-Address"
              required="" /><input type="submit" data-wait="Please wait..." class="submit-button w-button"
              value="Sign Up Now" /></form>
          <div class="success-message w-form-done">
            <div>Thank you! Your submission has been received!</div>
          </div>
          <div class="w-form-fail">
            <div>Oops! Something went wrong while submitting the form.</div>
          </div>
        </div>
      </div>
      <div data-w-id="76fd4d71-c047-80c2-5226-3a0e10fb1133" class="full_width_image"></div>
    </div>
  </div>
  <!----------- outroo    -------------------->
  <div class="section cta_section">
    <div class="container">
      <div class="w-layout-grid cta_with_parallex_imgs">
        <div  class="cta_left">
          <h3>Become a TravelTeller</h3>
          <p class="max_400">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum
            tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae
            erat.
            Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet.
          </p>
          <a href="/blog" class="button w-button">Get started</a>
          <img
            src="https://assets.website-files.com/5ed1cf34bf802c5f339f8167/5ed719559d85627f1a1f8492_travel%20Tell%20stencil%202.svg"
            width="283" style="opacity: 0;"  alt=""
            class="cta_section_stencil" />
        </div>
      
      </div>
    </div>
   
  </div>
  {% comment %} <div style="position:fixed; bottom: 5% !important; left: 93% !important; z-index: 1;"><a href="https://wa.me/+201026957222?text=I'm%20interested%20in%20your%20Package%20for%20sale">
    {% load static %}

<img src="../../media/logo.png"   width="60px"/>

</a>
</div> {% endcomment %}

  {% include 'footer.html'%}
  
  </div>  {%load static%}
    <script src="{% static 'jquery.js' %}" ></script>
<script src="{% static 'webflow-script.js' %}" ></script>



<script>

  $(document).on('click','#add_cart',function (e) {
    e.preventDefault();
    $.ajax({
  
        type:'POST',
        url:'{% url "add"  %}',
        data:{
  
          package_id:$('#add_cart').val(),
          package_amount:$('#no_adults option:selected').text(),
          csrfmiddlewaretoken:'{{ csrf_token  }}',
          action:'post'
  
          
  
        },
        success:function (json) {
          console.log(json)
          document.getElementById("amount").textContent=json.amount
          
        },
        error:function (xhr,errmsg,err) {
          
        }
  
    });
  
  
  
  
  
  
  })
  
  
  </script>  
</body>

</html>